<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="shared/head :: head"></head>

<body style="background-color: #34495E ;">
    <!-----------------------------NAVBAR---------------------------------->
    <nav th:replace="shared/navbar :: navbar"></nav>
    
   <!----------------------TABLA DE USUARIOS---------------------------------->
   	<a class="btn btn-outline-primary text-white" th:href="@{/app/form}" style="margin: 20px 280px 0px; " role="button">Crear usuario</a>

	<h1 th:text="${titulo}" class="text-white" style="text-align: center; margin: 10px 0px;"></h1>
	<table th:if="${!usuarios.isEmpty}" class="table table-bordered table-hover" style="width: 800px; text-align: center; margin: 0px auto 100px;">
		<thead class="table-dark">
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Cedula</th>
				<th scope="col">Email</th>
				<th scope="col">Celular</th>
				<th scope="col">Accion</th>
			</tr>
		</thead>
		<tbody style="background-color: #D0D3D4;">
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.getNombre()}"></td>
				<td th:text="${usuario.getCedula()}"></td>
				<td th:text="${usuario.getEmail()}"></td>
				<td th:text="${usuario.getCelular()}"></td>
				<td>
				   <a class="btn btn-outline-success" th:href="@{/app/editar/} + ${usuario.id}" th:text="Editar" role="button"></a>
				   <a class="btn btn-outline-danger" th:href="@{/app/eliminar/} + ${usuario.id}" th:text="Eliminar" role="button"></a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div th:if="${usuarios.isEmpty}">
	   <p>No hay usuario registrado</p>
	</div>
	
</body>

</html>